---
import Layout from '/src/layouts/Layout.astro';
import Link from '/src/components/Link.astro';
import Section from '/src/components/Section.astro';
import { app } from '/src/config/view';
const pageArgs = {
  title: '連絡先',
};
app.init(Astro, pageArgs);
---

<Layout>
  <Section heading="連絡先" id="contact" lv="2">
    <Fragment slot="section-child">
      <p>Sugamocss.com は、今のところ主催の Sig. が管理しています。Sugamo.css（イベント）および Sugamocss.com（サイト）へのご意見・ご要望・お問い合わせは @sigwyg まで。</p>
      <ul>
        <li>主催のTwitter：<Link url="https://twitter.com/sigwyg" label="@sigwyg" /></li>
        <li>広報用Twitter：<Link url="https://twitter.com/Sugamo_css" label="@Sugamo_css" /></li>
      </ul>
      <p>なお、広報用の Twitter アカウント @Sugamo_css は送信専用です。reply 飛ばしても気付かないことが多いので、ご注意ください！</p>
    </Fragment>
  </Section>
</Layout>
