---
import Layout from '/src/layouts/Layout.astro';
import Link from '/src/components/Link.astro';
import Section from '/src/components/Section.astro';
import Util from '/src/config/Util';
import { app } from '/src/config/view';
const pageArgs = {
  title: '過去の参加者',
};
app.init(Astro, pageArgs);

const makeItem = (name, noExist = false) => {
  return { name, noExist };
};
const memberList = [
  makeItem('sigwyg'),
  makeItem('Takazudo'),
  makeItem('kosei27'),
  makeItem('yomotsu'),
  makeItem('tacamy'),
  makeItem('kotarok'),
  makeItem('hokaccha'),
  makeItem('nekomeg'),
  makeItem('sakaki0214'),
  makeItem('redmountain', true),
  makeItem('ayaxx'),
  makeItem('ksk', true),
  makeItem('songmu'),
  makeItem('neotag'),
  makeItem('miyazakiryo'),
  makeItem('seckie_'),
  makeItem('taku_eof'),
  makeItem('louiselouisa', true),
  makeItem('Funky4692'),
  makeItem('vant'),
  makeItem('Stryfy', true),
  makeItem('_kojika_', true),
  makeItem('kzms2'),
  makeItem('kazumich'),
  makeItem('hitoyam'),
  makeItem('vladaruz', true),
  makeItem('myakura'),
  makeItem('kyosuke'),
  makeItem('Jxck_'),
  makeItem('koba'),
  makeItem('LinearNS'),
  makeItem('cheesepie', true),
  makeItem('kyou', true),
  makeItem('uri', true),
  makeItem('a_t'),
  makeItem('iwaim'),
  makeItem('hamashun'),
  makeItem('keno42'),
  makeItem('nagomu'),
  makeItem('negiyama'),
  makeItem('tobotoboto'),
  makeItem('dearhearts', true),
  makeItem('doke'),
  makeItem('kuruma'),
  makeItem('hinatami'),
  makeItem('asita_hmt', true),
  makeItem('yukop'),
  makeItem('mattari_panda'),
  makeItem('kotarochiba', true),
  makeItem('IMAGEDRIVE'),
  makeItem('taiju'),
  makeItem('kawagooch'),
  makeItem('namutaka'),
  makeItem('taku_o'),
  makeItem('sugyan'),
  makeItem('kana1'),
  makeItem('soh335'),
  makeItem('thinca'),
  makeItem('caravaco', true),
  makeItem('yoppiblog'),
  makeItem('Stocker_jp'),
  makeItem('tsmd57', true),
  makeItem('2k54'),
  makeItem('hiloki'),
  makeItem('magi1125'),
  makeItem('skuare'),
  makeItem('debiru_R'),
  makeItem('ventboys', true),
  makeItem('mackey405'),
  makeItem('asu_chap'),
  makeItem('skyguild'),
  makeItem('yunozy'),
  makeItem('kazuyaYoshi'),
  makeItem('otsuno'),
  makeItem('kyo_ago'),
  makeItem('oku_chan'),
  makeItem('tsuruta_m', true),
  makeItem('stripejam'),
  makeItem('hamaco'),
  makeItem('nazomikan'),
  makeItem('makiobiz '),
  makeItem('basyura'),
  makeItem('h2ham'),
  makeItem('fleshkine'),
  makeItem('super_rti'),
  makeItem('Tkashiro', true),
  makeItem('masudaK'),
  makeItem('run67', true),
  makeItem('yuxu'),
  makeItem('os0x'),
  makeItem('codeaholic1210', true),
  makeItem('saucerjp'),
  makeItem('seijimomoto', true),
  makeItem('rika_t'),
  makeItem('MrAdults_taka'),
  makeItem('noir44_aihara'),
  makeItem('tusimarimo', true),
  makeItem('gakkiy'),
  makeItem('ryuto_kurokawa'),
  makeItem('ykhs'),
  makeItem('Satoh_D'),
  makeItem('nisimaki'),
  makeItem('floral', true),
  makeItem('uzu'),
  makeItem('edo_m18'),
  makeItem('5509'),
  makeItem('nebury', true),
  makeItem('choplin'),
  makeItem('hidezzz'),
  makeItem('flast_ro'),
  makeItem('melponn'),
  makeItem('t9md'),
  makeItem('tsukkee'),
  makeItem('ta2_o2p', true),
  makeItem('oremega'),
  makeItem('vt103', true),
  makeItem('tori3_jp'),
  makeItem('aaharu'),
  makeItem('s_katsushima', true),
  makeItem('shiwano'),
  makeItem('sentoro', true),
  makeItem('tyanagida', true),
  makeItem('Sakunyo', true),
  makeItem('s_e_k_k_y', true),
  makeItem('fumi_nishino', true),
  makeItem('210ant', true),
  makeItem('snit_21', true),
  makeItem('hogenishi', true),
  makeItem('asion_m'),
  makeItem('62jun26'),
  makeItem('kanonji'),
  makeItem('crifff'),
  makeItem('oosugi20'),
];
---

<Layout>
  <Section heading="過去の参加者" id="members" lv="2">
    <Fragment slot="section-child">
      <p>以下、参加者の Twitter ID です。だいたい参加順。</p>
      <ol class="member-list">
        { memberList.map((member) => (
          <li>{ member.noExist ? member.name : <Link url={ `https://twitter.com/${member.name}` } label={ member.name }/> }</li>
        ))}
      </ol>
    </Fragment>
  </Section>
</Layout>
