---
import Layout from '/src/layouts/Layout.astro';
import Link from '/src/components/Link.astro';
import Section from '/src/components/Section.astro';
import { app, img } from '/src/config/view';
const pageArgs = {};
app.init(Astro, pageArgs);
---

<Layout>
  <Section heading="このサイトについて" id="about-this-site" lv="2">
    <Fragment slot="section-child">
      <p><strong>Sugamo.css</strong> は、2009年から2013年頃に定期的に開催されていたフロントエンド勉強会です。</p>
      <p>このサイト <strong>sugamocss.com</strong> は、<Link url="http://web.archive.org/web/20240528042923/http://sugamocss.com/" label="Sugamo.css - ver.3.0" /> に基づいて2013年当時の情報を掲載しています。イベント開催情報や会場の<strong>情報は古い場合がありますのでご注意ください</strong>。</p>
      <p>Sugamo.css は2013年の第41回を最後に開催が止まってしまっていましたが、2019年6月に第42回を開催し、2025年3月に第43回を開催する運びとなっています。</p>
    </Fragment>
  </Section>
  <Section heading="Sugamo.css とは？" id="what-is-sugamo-css" lv="2">
    <Fragment slot="section-child">
      <div class="mod-image">
        <p><img src={ img('global/kamo.png') } alt="Sugamo の鴨という漢字" width="260" height="260"></p>
      </div>
      <p><strong>フロントエンドの話をしよう！</strong>…な集まりです。より正確には、</p>
      <ul>
        <li>専業コーダー（ME）は社内に少ない</li>
        <li>コーディング周りのディープな話をする場がない（発足時）</li>
        <li>コーダーを集めたら話題はいくらでもあるんじゃね？</li>
      </ul>
      <p>…てな感じで始まりました。</p>
      <p>基本は雑談です。最近は発表ネタ持ってきてくれる人も増えたけど、普通に仕事してる人もいます。「みんなどうやってる？」質問リスト等を持ってくると、たいへん喜ばれます。</p>
      <figure>
        <div class="figure-item">
          <blockquote>
            <p>まじで今日はSugamo.cssぐだぐだだったけど別に次何するとか決めないし約束しないし気が向いたらなんかするそれがSugamo.css</p>
          </blockquote>
        </div>
        <figcaption>
          <Link url="https://x.com/Takazudo/status/36458421196685312" label="―― @Takazudo のコメント" />
        </figcaption>
      </figure>
    </Fragment>
  </Section>
  <Section heading="開催時期" id="date-of-event" lv="2">
    <Fragment slot="section-child">
      <p>毎月開催。第一土曜の 14:00 〜 18:00。</p>
      <p>ただし、連休や CSS Nite と被るとズレることがあります。</p>
    </Fragment>
  </Section>
</Layout>
